.container,
.pageContainer {
  height: 100%;

  overflow: hidden;
  position: relative;
}
/* 护眼 - 豆沙绿 */
.theme-green {
  background-color: rgb(199, 237, 204);
}
/* 护眼 - 极光灰 */

/* .theme-gray {
  background-color: RGB(234, 234, 239);
} */

.page {
  opacity: 0;
  overflow-y: auto;

  height: calc(100% - 52px - 32px);
  padding-top: 20px;

  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.title {
  text-align: center;
}

.author {
  margin: 10px 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 20px;
}

.demo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  margin-bottom: 4px;
}

.link a {
  color: #666;
  text-decoration: none;
  font-size: 14px;
}

.link a:hover {
  color: #333;
  text-decoration: underline;
}
