.form-wrap {
  display: flex;
  justify-content: flex-end;

  width: 460px;
  margin-top: 120px;
  padding-right: 188px;
}

/* 移动端设备的特定样式 */
@media (max-width: 767px) {
  .form-wrap {
    width: 70%;
    margin: 30px auto;
    padding-right: 0px;
  }
}
