/*  header */
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 52px;
  padding: 0 20px;
  box-shadow: 0 1px 12px 1px rgba(132, 152, 208, 0.16);
}
