<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>xwBlog</title>
    <meta name="description" content="这里辛望学习前端开发工程师过程的学习经验总结。">
    <meta name="keywords" content="辛望,xinwang,博客,网站,js,html,css,前端,前端工程师,web,web开发,h5,移动端,安卓,IOS,学习,学习经验,学习总结,学习代码,源码">
    <meta name="renderer" content="webkit">
    <meta name="author" content="辛望">
    <link rel="apple-touch-icon" href="//static.hdslb.com/mobile/img/512.png">
    <link rel="shortcut icon" href="//static.hdslb.com/images/favicon.ico">
   
</head>
<body>
    <div id="root"></div>
</body>
</html>