.container {
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author {
  font-size: 13px;
  margin-top: 36px;
  margin-bottom: 16px;
}
.row {
  margin: 2px 0;
}
.row a {
  margin-right: 3px;
  font-size: 14px;
  color: #666;
}
.row span {
  font-size: 14px;
}
.row a:hover {
  text-decoration: underline;
}

/* 二维码 */
.ewm {
  position: absolute;
  bottom: 88px;
  right: 0px;
}
.ewm img {
  width: 100px;
  height: 100px;
}
